/* LANDING PAGE */


.horizontal-landing-header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 250px;
    margin-top: -10px;
    /* PREVIOUS MARGIN */
    /* margin-top: 55px; */
    margin-bottom: -15px;
  }
  
  
  .landing-name {
    font-family: "Lora";
    font-size: 175px;
    font-weight: bold;
  }
  
  
  .landing-page-logo {
    /* width: 150px; */
    height: 180px;
    margin-left: 25px;
    margin-top: 30px;
  }
  
  
  .landing-catchphrase {
    font-family: "Lora";
    font-size: 32px;
    font-weight: normal;
    width: 600px;
    margin-left: 350px;
    text-decoration: none;
  }

  .landing-catchphrase-link {
    color: #111111 !important;
    text-decoration: none;
    font-weight: bolder;
  }

  .landing-catchphrase-link:hover {
    color: burlywood !important;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .second-catch-phrase {
    font-family: "Lora";
    font-size: 20px;
    font-weight: normal;
    line-height: 140%;
    color: whitesmoke;
    padding-top: 55px;
    margin-left: 70px;
    width: 300px;
  }
  
  
  .landing-black-divider {
    margin-top: 45px;
    height: 500px;
    width: 100%;
    background-color: black;
    box-shadow: 0px 300px 15px 301px rgba(0, 0, 0, 0.45);
  }
  
  .tiny-mce-screendump {
    width: 750px;
    margin-top: 65px;
    margin-left: 500px;
    margin-bottom: -200px;
  }

  /* 
  //////// TOGGLE //////// */

  .container {
    margin: 0 auto;
    padding: 20px;
    width: 80vw;
    height: 100vh;
    background-color: #edf2f7;
  }