.navbar-light {
    background-color: white !important;
    height: 77px;
  }
  

  .nav-link {
    font-family: "Lora";
    font-size: 20px;
    line-height: 26px;
    line-height: 100px;
    letter-spacing: -1.5%;
    color: #111111 !important;
    margin: 2px 20px 0px;
  }
  
  .nav-link:hover {
    font-family: "Lora";
    font-size: 20px;
    line-height: 26px;
    line-height: 100px;
    letter-spacing: -1.5%;
    color: #18A0FB !important;
    margin: 2px 20px 0px;
  }
  
  
  
  
  .jorno-logo {
    width: 180px;
    margin-left: 20px
  }
  
  
  .navbarNavDropdown {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }